*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    font-size: 18px;
    background-color: #161616;
}

header{
    width: 100%;
    height: 80px;
    background-color: #ffa31a;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.intro{
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffa31a;
    color: black;
    transition: 1.5s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(5vw + 10px );
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.fadein{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fadeout{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}